body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #050505;
    font-family: 'Roboto Flex', sans-serif;
    overflow: hidden;
}

.principal {
    margin: 10vh 1vw;
    overflow: scroll;
    height: 98vh;
    scroll-snap-points-y: repeat(80vh);
    scroll-snap-type: y mandatory;
}

.secao {
    scroll-snap-align: start;
    margin-bottom: 10vh;
    min-height: 80vh;
    padding: 1vh 1vw;
}

.corpoAscii {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #14ab00;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    background: #050505;
    border: 1px solid #5a5a5a;
}

.apresentacao {
    display: flex;
    align-items: baseline;
    margin: auto;
}
.dadosApresentacao {
    display: flex;
    align-items: baseline;
    justify-content: start;
    flex-direction: column;
    text-align: left;
    width: 19em;
}

.animacaoBase {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid transparent;
    animation-iteration-count: 1, 5;
    font-size: 0.75em;
}

.nome {
    animation: digitandoNome 1s steps(17, end) forwards,
        piscarCursor 0.2s;
    font-size: 1em;
}

.cargo {
    animation: digitandoNome 1s steps(18, end) forwards,
        piscarCursor 0.2s;
    animation-delay: 1s;
}

.espera1 {
    animation: digitandoNome 0.3s steps(3, end) forwards,
        piscarCursor 0.2s;
    animation-delay: 2s;
}

.profileascii {
    width: 0;
    font-size: 0.5em;
    line-height: 0.6em;
    animation: digitandoNome 2s steps(80, end) forwards,
        piscarCursor 0.2s;
    animation-iteration-count: 1, 10;
    animation-delay: 2s;
    overflow: hidden;
    border-right: .15em solid transparent;
}

.seguir {
    animation: digitandoNome 1s steps(18, end) forwards,
        piscarCursor 0.5s;
    animation-iteration-count: 1, infinite;
    animation-delay: 3s;
    cursor: pointer;
}

@keyframes digitandoNome {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes piscarCursor {
    0% {
        border-color: transparent
    }

    50% {
        border-color: #14ab00
    }

    100% {
        border-color: transparent
    }
}

.corpo8bit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    color: #ffffff;
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    border-radius: 0.5em;
    background: #00a8a8;
}

.profile8bit {
    width: 20vw;
    height: 20vw;
}

.janela8bit {
    background: #efefef;
    position: relative;
    border: 1px solid #000;
    color: #000;
    border: outset 3px;
    width: 93vw;
    left: 1vw;
}

.title8bit {
    background: #000080;
    color: #fff;
    text-align: center;
    line-height: 24px;
    height: 30px;
    width: 100%;
    border-bottom: solid 1px #000;
}

.textoTitulo8bit {
    position: relative;
    display: inline;
    width: 100%;
    white-space: nowrap;
}

.cursorBotao8bit {
    max-width: 2em;
    min-width: 1.5em;
    width: 4vw;
    position: relative;
    top: -3vh;
    left: -1vw;
    float: left;
    z-index: 999;
    animation: oscilaCursor 3s infinite;
}

@keyframes oscilaCursor {
    0% {
        top: -3vh;
    }

    50% {
        top: -2vh;
    }

    100% {
        top: -3vh;
    }
}

.areaTela8bit {
    padding: 1vw;
    display: flex;
    float: right;
}

.botao8bit,
.barraTarefa8bit,
.menu8bit {
    background: #c0c0c0;
    color: #000;
    display: inline-block;
    margin: 0px;
    float: left;
    border: outset 3px;
    display: flex;
    align-items: center;
    cursor: default;
}

.botao8bit:active {
    border: inset 3px;
}

.texto8bit {
    width: calc(100% - 21vw);
    float: left;
    padding-right: 1vw;
    padding-bottom: 5vh;
}

.barraTarefa8bit {
    position: relative;
    width: 95vw;
    bottom: 2vh;
}

.imagemMenu8bit {
    width: 3vw;
    max-width: 1.5em;
    min-width: 1em;
}

.menu8bit {
    min-width: 17.4em;
    width: 40vw;
    height: 15vh;
    top: -2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.menu8bit .botao8bit {
    max-height: 2em;
    min-width: 17em;
    width: 39vw;
    flex-direction: row;
    display: flex;
}

.menu8bit .botao8bit:nth-child(2) {
    background: #000080;
    color: #fff;
    cursor: pointer;
}

.title8bit .botao8bit {
    cursor: pointer;
}

.corpoWinXp {
    color: #ffffff;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1em;
    border-radius: 0.5em;
    background: #00a8a8;
    background-image: url('../../assets/images/winXpWp.jpg');
    background-size: cover;
}

.janelaXp {
    box-shadow: inset -1px -1px #00138c,inset 1px 1px #0831d9,inset -2px -2px #001ea0,inset 2px 2px #166aee,inset -3px -3px #003bda,inset 3px 3px #0855dd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 0 3px;
    background: #ece9d8;
}

.tituloXp {
    background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
    padding: 3px 5px 3px 3px;
    border-top: 1px solid #0831d9;
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    border-top-left-radius: 8px;
    border-top-right-radius: 7px;
    font-size: 13px;
    text-shadow: 1px 1px #0f1089;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloXp button {
    min-width: 21px;
    min-height: 21px;
    margin-left: 2px;
    padding: 0;
    display: block;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(180deg,rgb(243, 11, 11),#e21818 86%,#cf1919);
    box-shadow: inset 2px 2px 5px -1px #fff;
    border-radius: 3px;
    color: #fff;
}

.areaJanelaXp {
    margin: 8px;
    color: #222;
}

.botaoXp:hover,
.botaoXp:active ,
.botaoXp:focus {
    box-shadow: inset -1px 1px #fff0cf,inset 1px 2px #fdd889,inset -2px 2px #fbc761,inset 2px -2px #e5a01a !important;
}

.botaoXp {
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4);
    border-radius: 3px;
    cursor: pointer;
    z-index: 999;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.modal1 {
    position: relative;
    width: 80vw;
    float: left;
    top: 8vh;
}

.modal2 {
    position: relative;
    width: 60vw;
    float: right;
    top: -5vh;
}

.modal2 .botaoXp {
    float: right;
    margin-bottom: 1vh;
}

.modal3 {
    position: relative;
    width: 40vw;
    max-width: 31em;
    float: left;
    top: -30vh;
}

.modal3 .areaJanelaXp {
    display: flex;
    justify-content: center;
}

.imagemWinXp {
    width: 100%;
    max-width: 30vh;
    max-height: 30vh;
}

.corpoWinVista {
    color: #ffffff;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1em;
    border-radius: 0.5em;
    background: #00a8a8;
}

.designPróprio {
    color: #ffffff;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1em;
    border-radius: 0.5em;
    background: #00a8a8;
}